parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - tests/bootstrap.php
    phpLanguageExtensions:
        mode: namespace
        testNamespace: 'App\Tests'
    ignoreErrors:
        - '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy.*#'
        - '#Property.*with generic class Prophecy\\Prophecy\\ObjectProphecy does not specify its types.*#'
        - '#Property .+::\$id \(int\|null\) is never assigned int so it can be removed from the property type#'

includes:
    - vendor/dave-liddament/phpstan-php-language-extensions/extension.neon
